* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
}
body {
	overflow-x: hidden;
	background: url("img/background.jpg") center center no-repeat;
	background-attachment: fixed;
	background-color: #818181;
	background-size: cover;
	background-position: 0;
	font-size: 16px;
	height: 100%;
}
